<div class="row pb-4">
    <div class="col-md-4">
        <mat-card class="d-flex">
            <img src="https://image.flaticon.com/icons/svg/869/869045.svg" class="icon mr-3">
            <div class="d-flex flex-column justify-content-center">
                <p class="h6 mb-0 text-uppercase">total</p>
                <p class="h5 mb-0 text-uppercase">0</p>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="d-flex">
            <img src="https://image.flaticon.com/icons/svg/497/497738.svg" class="icon mr-3">
            <div class="d-flex flex-column justify-content-center">
                <p class="h6 mb-0 text-uppercase">total</p>
                <p class="h5 mb-0 text-uppercase">0</p>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="d-flex">
            <img src="https://image.flaticon.com/icons/svg/2312/2312986.svg" class="icon mr-3">
            <div class="d-flex flex-column justify-content-center">
                <p class="h6 mb-0 text-uppercase">total</p>
                <p class="h5 mb-0 text-uppercase">0</p>
            </div>
        </mat-card>
    </div>
</div>

<div class="mat-elevation-z8">

    <div class="search_form p-3 d-flex justify-content-between align-items-center">
        <mat-form-field appearance="outline" class="w-50">
            <mat-label>Search products</mat-label>
            <input (keyup)="search($event)" [(ngModel)]="textSearch" matInput
                placeholder="name, product id, price, stock">
            <mat-icon *ngIf="!textSearch" matSuffix>search</mat-icon>
            <button (click)="clearSearch()" *ngIf="textSearch" mat-button matSuffix mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button [routerLink]="['/stock/create']" mat-flat-button color="primary">
            <mat-icon>add</mat-icon>
            New Product
        </button>
    </div>
    <div class="sticky-container">
        <table mat-table [dataSource]="dataSource" matSort class="table-striped table-hover">
            <!-- Position Column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> IMAGE </th>
                <td mat-cell *matCellDef="let element">
                    <div class="over-lay mx-auto d-block border-top border-left border-right rounded-top">
                        <img [src]="element.image"
                            class="img-fluid bg-light rounded-top">
                        <div class="over-lay-text text-center mat-small">{{ element.productId }}</div>
                    </div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header> PRICE </th>
                <td mat-cell *matCellDef="let element" class="text-right"> {{element.price | number: '1.2-2'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> STOCK </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.stock | number}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> ACTION </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button (click)="editProduct(element.productId)" mat-icon-button>
                        <mat-icon class="material-icons-outlined">edit</mat-icon>
                    </button>
                    <button (click)="deleteProduct(element.productId)" mat-icon-button>
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 20, 50, 100]">
        </mat-paginator>
    </div>
</div>